.loader{
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $pg-primary-color;
  color: $pg-text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .brand{font-size: 74px;}
  .prog{
    height: 6px; 
    width: 4 * 74px;
    position: relative;
    .res{
      height: 6px;
      width: 37px;
      border-radius: 2px;
      background: $pg-third-color; 
      transition:all 2s linear;
      animation: loader 2s infinite; 
    }
  }
}

@keyframes loader
{
  0%{
    transition:all 2s linear;
    margin-left: 0px;
  }
  100%{
    transition:all 2s linear;
    margin-left: (3 * 74px) + 37px;
  }
}