extends ../layout.pug
block head 
  title Recovery - Sosharu
block content
  .homepage
    .sidebar
      .wrapper
        .v-center
          .mb-5.text-center
            h1 Password Recovery
            p Enter your Credentials 
          form#silent-form(action='/recover', method='post')
            .form-group
              label(for='mail') Email or Phone
              input#mail.form-control(type='text', placeholder='Enter email or phone', name='email')
            input(type="hidden", name="_csrf", value=csrfToken)
            .form-group
              button.btn.btn-secondary.form-control(type='submit') Recover
          p.text-center 
            a(href="/") Login 
            | | 
            a(href="/register") Register 
            | or Continue with
          .social-login.text-center
            a.google(href='#')
              i.fab.fa-google-plus-g.fa-lg
            a.facebook(href='#')
              i.fab.fa-facebook-f.fa-lg
            a.twitter(href='#')
              i.fab.fa-twitter.fa-lg
            a.github(href='#')
              i.fab.fa-github.fa-lg
