extends ../layout.pug
block head 
  title Register - Sosharu
block content
  .homepage
    .sidebar
      .wrapper
        .v-center
          .mb-3.text-center
            h1 Register to Sosharu
          form#silent-form(action='register', method='post')
            .form-group
                label(for='name') Name 
                  span.text-danger *
                input#name.form-control(type='text', placeholder='Jhone Smith', name='name')
                small.form-text.invalid-feedback
            .form-row
              .form-group.col-6
                label(for='mail') Email 
                  span.text-danger *
                input#mail.form-control(type='email', placeholder='jhonesmith@domain.com', name='email')
                small.form-text.invalid-feedback
              .form-group.col-6
                label(for='phone') Phone
                input#phone.form-control(type='number', placeholder='+1 000 000 0000', name='phone')
                small.form-text.invalid-feedback
            .form-row
              .form-group.col-6
                label(for='pwd') Password 
                  span.text-danger *
                input#pwd.form-control(type='password', placeholder='**************', name='password')
                small.form-text.invalid-feedback
              .form-group.col-6
                label(for='cpwd') Confirm Password 
                  span.text-danger *
                input#cpwd.form-control(type='password', placeholder='**************', name='confirm_password')
                small.form-text.invalid-feedback
              input(type="hidden", name="_csrf", value=csrfToken)
            .form-group
              button.btn.btn-primary.form-control(type='submit') Register
          p.text-center 
            | Already have account? 
            a(href="/") Login
            


